:root{
    --primary-color:#191919;
    --secondary-color: #04293A;
    --third-bg-color: #3E065F;
    --green-color: #1E5128;
    --red-color:#420516;
}

html{
    background-color: var(--primary-color);
}

h1,h2,h3,h4,h5, p{
    color: white;
}

h1{
    text-align: center;
}